﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GetSofware</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerytoast")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">GETSoftware</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                @if ((Session["User"] as GetSoftware.Infrastructure.Models.User).Role == GetSoftware.Infrastructure.Models.RoleType.ADMINISTRATOR)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Users", "Index", "User", null, new { @class = "nav-link" })
                    </li>
                }
                @if ((Session["User"] as GetSoftware.Infrastructure.Models.User).Role != GetSoftware.Infrastructure.Models.RoleType.DEVELOPER)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Projects", "Index", "Project", null, new { @class = "nav-link" })
                    </li>
                }
                <li class="nav-item">
                    @Html.ActionLink("Tasks", "Index", "Task", null, new { @class = "nav-link" })
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <div class="mr-sm-2 ">
                    @Html.ActionLink("Log out", "Logout", "Login", null, new { @class = "nav-link" })
                </div>
            </div>

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GETSofware application</p>
        </footer>
    </div>

    <script type="text/javascript">
    if ('@ViewBag.Message' !== '') {
        $.toaster('@ViewBag.Message', 'Info', 'success')
    }

    if ('@ViewBag.WarningMessage' !== '') {
        $.toaster('@ViewBag.WarningMessage', 'Warning', 'warning')
    }

    if ('@ViewBag.ErrorMessage' !== '') {
        $.toaster('@ViewBag.ErrorMessage', 'Error', 'danger')
    }

    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    </script>
</body>
</html>


