﻿@{
    Layout = null;
    Page.Title = "Welcome";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css"  id="bootstrap-css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" />
</head>
<body>
    
    <div class="wrapper fadeInDown">
        <div class="alert-danger" style="margin: 30px;">
            @ViewBag.Message
        </div>
        <div id="formContent">
            <!-- Login Form -->
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            }
        </div>
    </div>        
    
</body>
</html>
