﻿
@{
    ViewBag.Title = "Users";
}
@model List<GetSoftware.Infrastructure.Models.User>
<h2>Users</h2>
<div style="padding-top: 20px;">
    <div class="btn-group" style="padding: 15px 0 15px 0">
        @Html.ActionLink("New user", "ViewUser", new GetSoftware.Infrastructure.Models.User(), new { @class = "btn btn-primary" })
    </div>
    <table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr onclick="location.href = '@(Url.Action("ViewUser", "User", new { id = user.Id }))'">
            <td>@user.Id</td>
            <td>@user.Username</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Role.ToString()</td>

        </tr>
    }
</table>
</div>

