﻿@model IEnumerable<GetSoftware.Infrastructure.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div class="btn-group" style="padding: 15px 0 15px 0">
    @if (ViewBag.CreateEnable)
    {
        @Html.ActionLink("New project", "ViewProject", new GetSoftware.Infrastructure.Models.Project(), new { @class = "btn btn-primary" })
    }
    else
    {
        <label>Can not create a new project because there are no project managers in the system.</label>
    }
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            Project manager
        </th>
        <th>
            Progress
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr onclick="location.href = '@(Url.Action("ViewProject", "Project", new { id = item.Id }))'">
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Code
        </td>
        <td>
            @item.ProjectManager.FirstName @item.ProjectManager.LastName
        </td>
        <td>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" 
                     aria-valuemin="0" aria-valuemax="100" style="width:@item.Progress%">
                    @item.Progress% Complete
                </div>
            </div>            
        </td>
    </tr>
    }

</table>
