﻿@model GetSoftware.Infrastructure.Models.Project


@using (Html.BeginForm("UpsertProject", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Project</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (ViewBag.EnableDDPM)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectManager, "Project manager", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectManager.Id,
                 new SelectList(ViewBag.UsersDD, "Id", "Username"),
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectManager, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="btn-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

        @if (Model.Id != 0)
        {
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">Remove project</button>
            </div>
        }
    </div>
</div>

}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure that you want to delete this project? Deleting this project will cause removing all it's tasks!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                @Html.ActionLink("Remove project", "RemoveProject", "Project", Model, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div style="padding: 15px;">
    @Html.ActionLink("Back to List", "Index")
</div>
