﻿@model IEnumerable<GetSoftware.Infrastructure.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>

<div style="padding-top: 20px;">
    <div class="btn-group" style="padding: 15px 0 15px 0">
        @if (ViewBag.CreateEnable)
        {
            @Html.ActionLink("New task", "ViewTask", new GetSoftware.Infrastructure.Models.Task(), new { @class = "btn btn-primary" })
        }
    </div>
    <table class="table table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assingee)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("ViewTask", "Task", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Progress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assingee.Username)
                </td>
            </tr>
        }

    </table>
</div>
