﻿@model GetSoftware.Infrastructure.Models.Task
@using GetSoftware.Infrastructure.Models

@using (Html.BeginForm("UpsertTask", "Task", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Status", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Status,
                                new SelectList(Enum.GetValues(typeof(GetSoftware.Infrastructure.Models.StatusType))),
                                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Progress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Progress, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "100" } })
                @Html.ValidationMessageFor(model => model.Progress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Deadline, "{0:dd/MM/yyyy}",
                            new { htmlAttributes = new { @class = "form-control", type = "datetime-local", required = "required" } })
                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project, "Project", htmlAttributes: new { @class = "control-label col-md-2", required = "required" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Project.Id,
                 new SelectList(ViewBag.ProjectsDD, "Id", "Code"),
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Assingee, "Assignee", htmlAttributes: new { @class = "control-label col-md-2" })

            @if (Model.Assingee != null || ViewBag.UsersDD.Count > 1)
            {
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Assingee.Id,
                     new SelectList(ViewBag.UsersDD, "Id", "Username"),
                    new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                <div class="col-md-10">
                    <label>There is no avalilable users for assign.</label>
                </div>
            }
        </div>

        <div class="btn-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @if (Model.Id != 0 && ((User)Session["User"]).Role != RoleType.DEVELOPER)
            {
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">Remove task</button>
                </div>


            }

        </div>
    </div>
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure that you want to delete this task?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                @Html.ActionLink("Remove task", "RemoveTask", "Task", Model, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div style="padding: 15px;">
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $('#Deadline').attr('disabled', @((((User)Session["User"]).Role == RoleType.DEVELOPER).ToString().ToLower()))
    $('#Assingee_Id').attr('disabled', @((((User)Session["User"]).Role == RoleType.DEVELOPER).ToString().ToLower()))
    $('#Project_Id').attr('disabled', @((((User)Session["User"]).Role == RoleType.DEVELOPER).ToString().ToLower()))
</script>